.container {
  /* height: calc(100vh - 100px); */
  background-color: #222;
  display: flex;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.logo {
  position: relative;
  width: 100%;
  height: 50%;
  margin-top: 10px;
}

.callButton {
  background-color: white;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
  width: 30px;
  height: 30px;
}

.title {
  font-size: 18px;
  color: #b7903c;
  position: relative;
}

.text {
  color: lightgray;
}

.dev {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #222;
  color: white;
  padding: 5px 2px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .dev {
    font-size: 12px;
  }
  
  .callButton {
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
  }

  .title::after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    background: #b7903c;
  }
}
