.container {
  padding: 50px;
  display: flex;
}

.item {
  flex: 1;
}

.table {
  width: 100%;
  border-spacing: 20px;
  text-align: left;
}

.addButton {
  border: none;
  color: white;
  background-color: teal;
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.buttonDelete {
  border: none;
  color: white;
  background-color: crimson;
  padding: 5px;
  cursor: pointer;
}
