.container {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  padding: 15px 5px 5px 5px;
  width: 30px;
  height: 30px;
  font-size: 2rem;
  z-index: 9;
  cursor: pointer;
  color: white;
  background-color: #d1411e;
  box-shadow: 1px 1px 8px 0.5px gray;
}
